extends layout.pug

mixin filterSubmitButton 
  button.btn.btn-secondary.my-2.my-sm-0(type='submit') 
    i.fas.fa-arrow-right

mixin startYearEndYearInputs 
  input.form-control.me-sm-2(type='number', required, name='startYear', placeholder='Start', max=currentYear)
  input.form-control.me-sm-2(type='number', required, name='endYear', placeholder='End', max=currentYear)

mixin filterBlock 
  p Search by keyword
  form.d-flex.my-auto(action='/search', method='get')
    input.form-control.me-sm-2(required, type='search', name='query', placeholder='Search')
    +filterSubmitButton
  hr
  p View buildings in a specific year
  form.d-flex(action='/buildings/existingInYear', method='get')
    input.form-control.me-sm-2(required, type='number', name='query', placeholder='Year', max=currentYear)
    +filterSubmitButton
  hr
  p View buildings built between 
  form.d-flex(action='/buildings/builtBetween', method='get')
    +startYearEndYearInputs
    +filterSubmitButton
  hr
  p View buildings destroyed between
  form.d-flex(action='/buildings/destroyedBetween', method='get')
    +startYearEndYearInputs
    +filterSubmitButton
  hr
  - url = "/buildings/existingInYear?query=" + currentYear
  a(href=url) Show buildings in the current year
  if message 
    hr
    a(href="/buildings") Clear filters

block content
  script. 
    document.addEventListener("DOMContentLoaded", () => { 
      const button  = document.getElementById('toggleButton');
      const h5 = button.querySelector('h5');
      button.addEventListener("click", function(event) {
        h5.innerText = h5.textContent !== "Hide filters" ? "Hide filters" : "Show filters";
      })
    });

  style.
    .display-lg-none {
      display: none;
    }
    @media screen and (max-width: 992px) {
      .display-lg-none {
        display: initial;
      }
      .display-lg-block {
        display: none;
      }
      th, td {
        padding: 1rem !important;
      }
      table * {
        font-size: 1rem !important;
      }
    }

  - var currentYear = (new Date()).getFullYear()
  - var url

  .mx-4.my-lg-4
    .row
      nav.navbar.display-lg-none.my-2
        .container-fluid
          button#toggleButton.navbar-toggler(style="border: none", type='button', data-bs-toggle='collapse', data-bs-target='#filters', aria-controls='filters', aria-expanded='false', aria-label='Toggle filters')
            span.fas.fa-filter
            h5#filterMessage.d-inline.ms-3 Show filters
          #filters.collapse.navbar-collapse
            .pt-4.px-4
              +filterBlock
              hr.mb-5
              
      .col-12.mb-5.col-lg-3.mb-lg-0.display-lg-block
        .border
          .p-3
            +filterBlock

      .col-12.col-lg-9(style="max-width: 100%; overflow-x: auto; margin: 0 auto;")
        if message 
          h4 #{message}
        else if secondQuery
          h4 Viewing buildings standing in #{secondQuery}
        else 
          h4 Viewing all buildings

        table.table.table-hover
          thead
            tr
              th(scope='col').col-5.col-lg-3
                a.nav-link.dropdown-toggle(data-bs-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Name
                .dropdown-menu
                  - url = previousFilter ? "/buildings/sortedByName/a-z/" + previousFilter : "/buildings/sortedByName/a-z/"
                  a.dropdown-item(href=url) A-Z
                  - url = previousFilter ? "/buildings/sortedByName/z-a/" + previousFilter : "/buildings/sortedByName/z-a/"
                  a.dropdown-item(href=url) Z-A
              th(scope='col').col-1
                a.nav-link.dropdown-toggle(data-bs-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Built
                .dropdown-menu
                  - url = previousFilter ? "/buildings/sortedByYearBuilt/most-recent/" + previousFilter : "/buildings/sortedByYearBuilt/most-recent/"
                  a.dropdown-item(href=url) Most Recent
                  - url = previousFilter ? "/buildings/sortedByYearBuilt/oldest/" + previousFilter : "/buildings/sortedByYearBuilt/oldest/"
                  a.dropdown-item(href=url) Oldest
              th(scope='col').col-1
                a.nav-link.dropdown-toggle(data-bs-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') 
                  span.display-lg-block Destroyed
                  span.display-lg-none Dest.
                .dropdown-menu
                  - url = previousFilter ? "/buildings/sortedByYearDestroyed/most-recent/" + previousFilter : "/buildings/sortedByYearDestroyed/most-recent/"
                  a.dropdown-item(href=url) Most Recent
                  - url = previousFilter ? "/buildings/sortedByYearDestroyed/oldest/" + previousFilter : "/buildings/sortedByYearDestroyed/most-recent/"
                  a.dropdown-item(href=url) Oldest
              th(scope='col').col-5.col-lg-3 Address
              th(scope='col').col-lg-4.display-lg-block Address Description

          each building in buildings 
            - url = '/profile/' + building.name
            tr.table-secondary
              th(scope='row') 
                a(href=url) #{building.name}
              td #{building.year_built}
              td #{building.year_destroyed}
              td #{building.address}
              td.display-lg-block #{building.address_description}
