extends layout.pug 

block content
  style. 
    @media screen and (min-width: 992px) {
      #mainSplide .splide__arrow--prev {
        left: -50px;
      }
      #mainSplide .splide__arrow--next {
        right: -50px;
      }
      .second-column {
        padding-left: 55px;
      }
      .splide__slide img,
      .individual_img {
        max-height: 500px; 
        max-width: 100%; 
        object-fit: contain;
      }
      iframe.map {
        min-height: 325px;
         max-width: 450px;
      }
    }
    @media screen and (max-width: 992px) {
      #mainSplide .splide__arrow--prev,
      #mainSplide .splide__arrow--next {
        display: none;
      }
      .splide__slide img,
      .individual_img {
        max-height: 30vh;
        max-width: 100%;
        object-fit: contain;
      }
    }
    .first-column {
      min-height: 35vh;
    }
    .second-column {
      min-height: 50vh;
    }
    button.is-active {
      background-color: black !important;
    }
    .splide__pagination {
      position: relative;
    }
    
  if building
    .container-lg.d-flex.flex-column.gap-3
      .row.d-flex
        .col-lg-6.col-12.first-column
          if images.length > 1
            section#mainSplide.splide(aria-label='Splide Basic HTML Example')
              .splide__track
                ul.splide__list
                  each image in images
                    li.splide__slide.d-flex.justify-content-center.align-items-center.flex-column.gap-2
                      a.w-100(href=image.url) 
                        img.w-100(src=image.url)
                      .mb-3.d-flex.justify-content-center.align-items-center.flex-column
                        if image.caption
                          span(style="text-align: justify") #{image.caption}
                        if image.year_taken 
                          span.mx-auto #{image.year_taken}
          else if images.length == 1
            .d-flex.justify-content-center.align-items-center.flex-column.individual-img
              a(href=images[0].url)
                img.individual_img(src=images[0].url)
              .my-2.d-flex.justify-content-center.align-items-center.flex-column
                if images[0].caption
                  span(style="text-align: justify") #{images[0].caption}
                if images[0].year_taken 
                  span.mx-auto #{images[0].year_taken}
          else 
            div.h-100.border.d-flex.justify-content-center.align-items-center 
              span No image available
        .col-lg-6.col-12.second-column.d-flex.flex-column.align-items-center.align-items-lg-start.justify-content-between
          if building
            .info
              h1 #{building.name}
              h5 #{building.address}
              h5 #{building.address_description}
              if building.address || building.address_description
                br 
              h5 Built in #{building.year_built}
              if building.year_destroyed
                h5 Destroyed in #{building.year_destroyed}
            if building.maps_link
              br
              iframe.map(src=building.maps_link, width='100%', height='100%', style='border:0', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
      if building.description
        hr
        .row.d-flex
          div !{building.description}
      hr
      h5.ps-4 Sources used on this page
      - var className
      #accordionExample.accordion.mb-5
        each resource_array, source in resources
          .accordion-item
            h2#headingOne.accordion-header
              - className = source.split(' ').join('_')
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target=`#collapse${className}` aria-expanded='false' aria-controls=`collapse${className}`)
                | #{source}
            .accordion-collapse.collapse(id=`collapse${className}` aria-labelledby='headingOne' data-bs-parent='#accordionExample')
              .accordion-body
                ul.m-0
                each item in resource_array
                  li #{item.source} 
  
  else 
    h1 Not found.
